@media only screen and (max-width: 600px) {
	#main-banner h1 {
		font-size: 2.3rem;
	}

	.navbar-brand img {
		height: 54px;
	}

	.navbar-collapse {
		margin-top: 20px;
	}

	#about {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.about-img {
		height: 300px;
	}

	#products {
		padding-top: 80px;
		padding-bottom: 80px;
		background-position-x: left;
		background-position-y: 50px;
	}

	.product-img-block {
		height: 180px;
	}

	#numbers {
		padding-top: 80px;
		padding-bottom: 180px;
	}

	.how-banner {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#magic-elements {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	#global-presence {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	#contact {
		padding-top: 80px;
		padding-bottom: 80px;

	}

}